.App {
    width: 200px;
    height: 200px;
    padding: 50px 30px;
    position: absolute;
    transform: translate(150%, -20%);
}

.App-logo {
    pointer-events: none;
    display: flex;
    width: 300px;
    height: 276px;
    box-shadow: 0px 5px 10px goldenrod;
    border-radius: 200px;
    border-block-style: groove;
    text-align: center;
    font-family: Courier New, Courier, monospace;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation-name: App-Logo-floating;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        /*animation: App-logo-spin infinite 20s linear;*/
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-Logo-floating {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 20px);
    }

    100% {
        transform: translate(0px, -0px);
    }
}

@keyframes Pika-Across {
    0% {
        left: -75%;
    }

    100% {
        left: 500%;
        right: 18%;
    }

}

@keyframes Border-Across {
    0% {
        left: 90%;
    }

    100% {
        left: -400%;
        right: 0%;
    }
}

body {
    height: 515vh;
    width: 100px;
    background-image: url("assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.First {
    background-color: darkgoldenrod;
    width: 300px;
    height: 250px;
    padding: 50px 30px;
    margin: auto;
    position: absolute;
    transform: translate(190px, 120px);
    box-shadow: 0px 5px 10px aliceblue;
    border-radius: 20px;
    border-block-style: groove;
    text-align: center;
    font-family: 'Californian FB';
}

/*Curry*/
.Second {
    background-color: darkgoldenrod;
    width: 500px;
    height: 555px;
    padding: 50px 30px;
    margin-bottom: 0px;
    position: absolute;
    transform: translate(85px, 500px);
    box-shadow: 0px 5px 10px aliceblue;
    border-radius: 20px;
    border-block-style: groove;
    text-align: center;
    font-family: 'Californian FB';
}

/*African Ramen*/
.Third {
    background-color: darkgoldenrod;
    width: 500px;
    height: 800px;
    padding: 50px 30px;
    margin-bottom: 0px;
    position: absolute;
    transform: translate(150px, 1185px);
    box-shadow: 0px 5px 10px darkgreen;
    border-radius: 20px;
    border-block-style: groove;
    text-align: center;
    font-family: 'Malgun Gothic';
}

/*Hotpot*/
.Fourth {
    background-color: darkgoldenrod;
    width: 400px;
    height: 535px;
    padding: 50px 30px;
    margin-bottom: 0px;
    position: absolute;
    transform: translate(-400px, 1150px);
    box-shadow: 0px 5px 10px darkgreen;
    border-radius: 20px;
    border-block-style: groove;
    text-align: center;
    font-family: 'Malgun Gothic';
}

/*Red Dragon Meal*/
.Fifth {
    background-color: darkgoldenrod;
    width: 500px;
    height: 630px;
    padding: 50px 30px;
    margin-bottom: 0px;
    position: absolute;
    transform: translate(-415px, 1800px);
    box-shadow: 0px 5px 10px darkgreen;
    border-radius: 20px;
    border-block-style: groove;
    text-align: center;
    font-family: 'Malgun Gothic';
}

/*Button1*/
.Button1 {
    position: absolute;
    transform: translate(410px, 2100px);
    background-color: navajowhite;
    padding: 5px 10px;
    border-radius: 100px;
    cursor: pointer;
    /*an input for your cursor to change image when hovering over something */
    transition-duration: 0.9s;
}

button:hover {
    background-color: firebrick;
}

.GoodbyeDivider:hover {
    background-color: firebrick;
}

p:hover {
    transition-duration: 0.3s;
    text-shadow:
        0 0 5px aliceblue,
        0 0 10px antiquewhite,
        0 0 25px aquamarine;
}

.GoodbyeDivider2 {
    background-color: firebrick;
}

/*Image 1*/
.Divider-Break {
    position: absolute;
    width: 200px;
    height: 250px;
    transform: translate(-185%, 40%);
    background-color: whitesmoke;
    margin: auto;
    box-shadow: 5px 5px 10px darkgoldenrod;
    border-radius: 10px;
    border-block-style: groove;
}

/*Image 2*/
.Divider-Break2 {
    position: absolute;
    width: 200px;
    height: 250px;
    transform: translate(-91%, 100%);
    background-color: whitesmoke;
    margin: auto;
    box-shadow: 5px 5px 10px crimson;
    border-radius: 10px;
    border-block-style: ridge;
}

/*Image 3*/
.Divider-Break3 {
    position: absolute;
    width: 220px;
    height: 260px;
    transform: translate(-175%, 175%);
    background-color: whitesmoke;
    margin: auto;
    box-shadow: 5px 5px 10px yellow;
    border-radius: 10px;
    border-block-style: dashed;
}

/*Image 4*/
.Divider-Break4 {
    position: absolute;
    width: 220px;
    height: 260px;
    transform: translate(-90%, 250%);
    background-color: whitesmoke;
    margin: auto;
    box-shadow: 5px 5px 10px yellow;
    border-radius: 10px;
    border-block-style: dashed;
}

.Ending-Gif {
    position: absolute;
    width: 500px;
    height: 260px;
    transform: translate(25%, 865%);
    margin: auto;
    border-radius: 10px;
}

.Border {
    position: absolute;
    width: 100px;
    height: 110px;
    transform: translate(400%, -10%);
    animation-iteration-count: infinite;
    animation: Border-Across 4s ease-in-out forwards infinite;
}

.Pika {
    position: absolute;
    width: 320px;
    height: 125px;
    transform: translate(-100%, 800%);
    animation-iteration-count: infinite;
    animation: Pika-Across 4s ease-in-out forwards infinite;
}

/*Button2*/
.GoodbyeDivider {
    position: absolute;
    width: 100px;
    transform: translate(285px, 2075px);
    background-color: navajowhite;
    padding: 5px 10px;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.9s;
}

/*Button3*/
.GoodbyeDivider2 {
    position: absolute;
    width: 100px;
    transform: translate(500px, 2080px);
    background-color: navajowhite;
    padding: 5px 10px;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.9s;
}

footer {
    position: center;
    color: floralwhite;
    transform: translate(375px, 2200px);
    font-family: 'Poor Richard';
}